.heroImage{
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../../../public/heroImage.jpg"); */
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 50%; */
}
.backgroundPage{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url("../../../public/heroImage.jpg");
    
}
.titleCuisine{
    font-family: 'Courier New', Courier, monospace;
    color:white
}
.mealCardCategory{
    height:min-content !important
}
.sizeCardClass{
    display: inline-block;
    white-space: nowrap;
}
.hero-text {
    text-align: center;
    position: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}