.SearchBarField{
    border-radius: 100px;
}
.inputRounded .MuiOutlinedInput-root {
    border-radius: 20px;
  }
  .textFieldClass{
    border-radius: 100px;
    background-color: white;
}

/* .columnSearchBar{
    display: "flex";
    align-self: "center";
    justify-content: "center";
    flex-direction;: "column",
    padding: 20
} */
.centerForm{
    text-align: center;
    justify-content: center;
    justify-items: center;
    display: flex;
}